.chapter {
  padding-top: 137px;
  font-family: "Cera";
}

.chapter__top {
  margin-bottom: 80px;
}

.chapter__title .base-title {
  font-size: 80px;
}

.chapter__image {
  position: relative;
  padding-bottom: 33%;
  margin-top: 70px;
  margin-bottom: 137px;
}

.chapter__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 45% center;
  object-position: 45% center;
}

.chapter__content {
  padding-bottom: 80px;
  margin: 0 auto;
}

.chapter__content h3 {
  color: #003DA6;
  line-height: 120%;
  font-size: 28px;
  margin: 0;
}

.chapter__content h2,
.chapter__content h3,
.chapter__content h4,
.chapter__content h5,
.chapter__content h6 {
  font-family: "Nekst";
  margin-top: 40px;
}

.chapter__content h2:first-child,
.chapter__content h3:first-child,
.chapter__content h4:first-child,
.chapter__content h5:first-child,
.chapter__content h6:first-child {
  margin-top: 0;
}

.chapter__content h2 {
  color: #003DA6;
  font-size: 32px;
  line-height: 120%;
}

.chapter__content h4 {
  color: #003DA6;
  font-size: 24px;
  line-height: 120%;
}

.chapter__content strong {
  font-weight: 400;
}

.chapter__content p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 140%;
  font-size: 18px;
}

.chapter__content ol {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
}

.chapter__content ol li {
  font-size: 18px;
  line-height: 140%;
}

.chapter__content .image__caption p {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
}

.chapter__content .image__caption ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.chapter__content .image__caption ol li {
  line-height: 140%;
  font-size: 16px;
}

.chapter__content .gallery .image {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-rows: subgrid;
  grid-template-rows: subgrid;
  margin-top: 0;
}

.chapter__content .gallery .image__media {
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.chapter__content .image {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.chapter__content .image img {
  height: auto;
  max-height: 350px;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.chapter__content .gallery .image__caption {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.chapter__content .image__caption {
  border-top: 2px solid #000;
  margin-top: 20px;
  padding-top: 15px;
}

.chapter__content .gallery .image.image--float {
  float: none;
  margin-left: 0;
  max-width: none;
}

.chapter__content table {
  width: 100%;
  border-collapse: collapse;
}

.chapter__content th {
  color: #003DA6;
  font-size: 20px;
  font-weight: 400;
  font-family: "Nekst";
  font-size: 18px;
}

.chapter__content td {
  font-family: "Nekst";
  font-weight: 400;
  color: #676769;
  font-size: 18px;
}

.chapter__content th,
.chapter__content td {
  padding: 15px 25px;
  border-bottom: 1px solid #676769;
}

.chapter__content tr {
  text-align: left;
}

.chapter__content tr:last-child td {
  border-bottom: none;
}

.chapter__title {
  margin-bottom: 70px;
}

.chapter__bottom {
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.base-chapter-select-dropdown {
  border-radius: 0 !important;
  border: none !important;
}

.base-chapter-select-dropdown .select2-results__option {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  color: #003DA6;
  font-family: "Cera";
  padding: 8px 8px 8px 32px;
}

.base-chapter-select-dropdown .select2-results__option--selected {
  background-color: #F1F1F1 !important;
}

.base-chapter-select-dropdown .select2-results__option--highlighted {
  background-color: #003DA6 !important;
}

.top-chapter__select .select2 {
  max-width: 100% !important;
  width: 100% !important;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 400px !important;
}

.base-chapter-selection {
  height: 44px !important;
  background-color: transparent !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #003DA6 !important;
}

.base-chapter-selection .select2-selection__rendered {
  padding-left: 0 !important;
  padding-right: 35px !important;
  font-size: 2rem !important;
  color: rgb(0, 61, 166) !important;
  font-family: "Cera" !important;
  font-weight: 400 !important;
  line-height: 2.8rem !important;
}

.base-chapter-selection .select2-selection__placeholder {
  font-size: 2rem !important;
  color: rgb(0, 61, 166) !important;
  font-family: "Cera" !important;
  font-weight: 400 !important;
  line-height: 2.8rem !important;
}

.base-chapter-selection .select2-selection__arrow {
  background: url("../../images/icons/angle-down.svg") 0 center/16px 16px no-repeat;
}

.base-chapter-selection .select2-selection__arrow b {
  display: none !important;
}

.top-chapter__breadcrumbs {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.top-chapter__breadcrumbs li {
  margin-bottom: 0;
}

.top-chapter__breadcrumbs li span {
  display: inline-block;
  margin-top: 2px;
}

.table-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.quiz__container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 930px !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 160px;
  padding-bottom: 160px;
}

.quiz__slide {
  padding-top: 6px;
}

.slide-quiz {
  position: relative;
}

.slide-quiz__number {
  position: absolute;
  top: 0;
  left: 0;
  color: #003DA6;
  font-family: "Nekst", sans-serif;
  line-height: 110%;
  font-size: 80px;
}

.slide-quiz__content {
  padding-left: 120px;
}

.slide-quiz__question {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #003DA6;
  font-family: "Nekst", sans-serif;
  line-height: 120%;
  font-size: 28px;
  margin-bottom: 50px;
}

.slide-quiz__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slide-quiz__option {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-family: "Nekst", sans-serif;
  font-size: 28px;
  line-height: 120%;
  color: #444444;
  margin-bottom: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slide-quiz__option:last-child {
  margin-bottom: 0;
}

.quiz__current {
  color: #003DA6;
  font-family: "Cera", sans-serif;
  font-size: 20px;
}

.quiz__separator {
  color: #003DA6;
  font-family: "Cera", sans-serif;
  margin: 0 10px;
  font-size: 20px;
}

.quiz__total {
  font-family: "Cera", sans-serif;
  font-size: 20px;
  color: #444444;
}

.quiz__pagination {
  padding-top: 90px;
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 17px;
  position: relative;
}

.quiz__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #DADADA;
}

.quiz__progress span {
  background: #003DA6;
  height: 2px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  left: 0;
}

.course-intro .breadcrumbs__item {
  margin-top: 3px;
  display: inline-block;
}

.course-intro .intro__title {
  font-size: 56px;
  max-width: 767px;
}

.course-intro .intro__text {
  max-width: 748px;
  font-size: 20px;
  margin-bottom: 60px;
}

.course-intro .intro__body {
  padding-bottom: 80px;
}

.course-intro .intro__button span {
  font-size: 20px;
}

.modal-course-test .modal__content {
  position: relative;
  max-width: 563px;
  padding: 34px 40px;
}

.modal-course-test .modal__close {
  top: 20px;
  right: 20px;
}

.modal-course-test__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.modal-course-test__result {
  font-size: 80px;
  color: #003DA6;
  font-family: "Nekst", sans-serif;
}

.modal-course-test__label {
  font-size: 32px;
  color: #003DA6;
  font-family: "Nekst", sans-serif;
  line-height: 123.0769230769%;
}

.modal-course-test__text {
  font-size: 16px;
  font-family: "Nekst", sans-serif;
  line-height: 112.5%;
  margin-bottom: 24px;
}

.modal-course-test__button {
  padding: 0 32px;
}

.modal-course-test__button span {
  white-space: nowrap;
  font-size: 20px;
}

.modal-course-test__button_grey {
  border-color: #D9D9D9;
  background: #D0D0D0;
}

@media (min-width: 431.98px) {
  .chapter__content .gallery {
    display: -ms-grid;
    display: grid;
    gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 15px auto;
    grid-template-rows: auto auto;
  }

  .chapter__content .gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .chapter__content .gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .chapter__content .gallery > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .chapter__content .gallery > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .chapter__content .gallery > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .chapter__content .gallery > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .chapter__content .gallery > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .chapter__content .gallery > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
  }

  .chapter__content .image.image--float {
    clear: right;
    float: right;
    margin-bottom: 20px;
    margin-left: 30px;
    max-width: calc(50% - 30px);
  }
}

@media (min-width: 567.98px) {
  .modal-course-test__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .modal-course-test__button:first-child {
    margin-right: 9px;
  }

  .modal-course-test__button:last-child {
    margin-left: 9px;
  }
}

@media (min-width: 769.98px) {
  .chapter__content .image img {
    max-height: 500px;
  }

  .chapter__content .image img {
    max-height: 500px;
  }
}

@media (min-width: 991.98px) {
  .top-chapter__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .top-chapter__select {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 450px;
    flex: 0 0 450px;
  }

  .course-intro .intro__title {
    margin-right: 30px;
  }
}

@media (min-width: 1100.98px) {
  .chapter__content {
    max-width: 1000px;
  }

  .chapter__bottom {
    max-width: 1030px;
    margin: 0 auto;
  }

  .top-chapter__select {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
  }
}

@media (max-width: 1870px) {
  .chapter {
    padding-top: calc(80px + 57 * (100vw - 320px) / 1550);
  }

  .chapter__top {
    margin-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .chapter__title .base-title {
    font-size: calc(36px + 44 * (100vw - 320px) / 1550);
  }

  .chapter__image {
    margin-top: calc(40px + 30 * (100vw - 320px) / 1550);
  }

  .chapter__image {
    margin-bottom: calc(40px + 97 * (100vw - 320px) / 1550);
  }

  .chapter__content {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .chapter__content h3 {
    font-size: calc(24px + 4 * (100vw - 320px) / 1550);
  }

  .chapter__content h2 {
    font-size: calc(28px + 4 * (100vw - 320px) / 1550);
  }

  .chapter__content h4 {
    font-size: calc(20px + 4 * (100vw - 320px) / 1550);
  }

  .chapter__content p {
    font-size: calc(16px + 2 * (100vw - 320px) / 1550);
  }

  .chapter__content ol li {
    font-size: calc(16px + 2 * (100vw - 320px) / 1550);
  }

  .chapter__content .image__caption p {
    font-size: calc(14px + 2 * (100vw - 320px) / 1550);
  }

  .chapter__content .image__caption ol li {
    font-size: calc(14px + 2 * (100vw - 320px) / 1550);
  }

  .chapter__content th {
    font-size: calc(16px + 2 * (100vw - 320px) / 1550);
  }

  .chapter__content td {
    font-size: calc(16px + 2 * (100vw - 320px) / 1550);
  }

  .chapter__title {
    margin-bottom: calc(30px + 40 * (100vw - 320px) / 1550);
  }

  .chapter__bottom {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .quiz__container {
    padding-top: calc(80px + 80 * (100vw - 320px) / 1550);
  }

  .quiz__container {
    padding-bottom: calc(80px + 80 * (100vw - 320px) / 1550);
  }

  .quiz__slide {
    padding-top: calc(3px + 3 * (100vw - 320px) / 1550);
  }

  .slide-quiz__number {
    font-size: calc(30px + 50 * (100vw - 320px) / 1550);
  }

  .slide-quiz__content {
    padding-left: calc(50px + 70 * (100vw - 320px) / 1550);
  }

  .slide-quiz__question {
    font-size: calc(20px + 8 * (100vw - 320px) / 1550);
  }

  .slide-quiz__question {
    margin-bottom: calc(30px + 20 * (100vw - 320px) / 1550);
  }

  .slide-quiz__option {
    font-size: calc(18px + 10 * (100vw - 320px) / 1550);
  }

  .quiz__current {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .quiz__separator {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .quiz__total {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .quiz__pagination {
    padding-top: calc(50px + 40 * (100vw - 320px) / 1550);
  }

  .quiz__pagination {
    margin-left: calc(50px + 70 * (100vw - 320px) / 1550);
  }

  .course-intro .intro__title {
    font-size: calc(30px + 26 * (100vw - 320px) / 1550);
  }

  .course-intro .intro__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .course-intro .intro__text {
    margin-bottom: calc(30px + 30 * (100vw - 320px) / 1550);
  }

  .course-intro .intro__button span {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }
}

@media (max-width: 1100.98px) {
  .base-chapter-selection .select2-selection__rendered {
    font-size: 16px !important;
  }

  .base-chapter-selection .select2-selection__placeholder {
    font-size: 16px !important;
  }
}

@media (max-width: 991.98px) {
  .base-chapter-select-dropdown .select2-results__option {
    font-size: 16px;
    padding: 8px 8px 8px 16px;
  }

  .base-chapter-selection {
    height: 35px !important;
  }

  .top-chapter__breadcrumbs {
    margin-bottom: 40px;
  }

  .top-chapter__select {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .base-chapter-selection .select2-selection__placeholder {
    font-size: 16px !important;
  }
}

@media (max-width: 567.98px) {
  .chapter__image {
    padding-bottom: 80%;
  }

  .chapter__content h2,
  .chapter__content h3,
  .chapter__content h4,
  .chapter__content h5,
  .chapter__content h6 {
    margin-top: 30px;
  }

  .chapter__button {
    width: 100%;
  }

  .modal-course-test__result {
    font-size: 60px;
  }

  .modal-course-test__label {
    font-size: 26px;
  }

  .modal-course-test__button {
    width: 100%;
    margin-bottom: 14px;
  }

  .modal-course-test__button:last-child {
    margin-bottom: 0;
  }

  .modal-course-test__button span {
    font-size: 18px;
  }
}

@media (max-width: 431.98px) {
  .chapter__content .image {
    margin-top: 30px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1699px) {
  .base-chapter-selection .select2-selection__rendered {
    font-size: 2.5rem !important;
    line-height: 3.3rem !important;
  }

  .base-chapter-selection .select2-selection__placeholder {
    font-size: 2.5rem !important;
    line-height: 3.3rem !important;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .top-chapter__select {
    max-width: 50%;
  }
}

@media (any-hover: hover) {
  .slide-quiz__option:hover {
    color: #003DA6;
  }
}