.development-main-block {
  padding-bottom: 180px;
  padding-top: 130px;
}

.development-main-block__breadcrumbs {
  margin-bottom: 20px;
}

.development-main-block__content {
  margin-bottom: 80px;
}

.development-main-block__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 555px;
  width: 100%;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.development-main-block__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  min-height: 640px;
}

.development-recycling {
  -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  padding-top: 160px;
  padding-bottom: 160px;
}

.development-recycling__image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.development-recycling__title {
  font-size: 56px;
  margin-bottom: 40px;
}

.development-recycling__text {
  color: #444;
  margin-bottom: 80px;
  font-family: Cera;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.development-recycling__text p {
  margin-bottom: 20px;
}

.development-recycling__text p:last-child {
  margin: 0;
}

.development-environment {
  padding-bottom: 160px;
}

.development-environment__text {
  font-size: 17px;
}

.development-environment__image img {
  width: 100%;
  height: auto;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.development-environment__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.development-environment__title {
  font-size: 56px;
  margin-bottom: 50px;
}

.development-environment__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.item-development-environment__icon {
  margin-bottom: 24px;
}

.item-development-environment__icon img {
  height: 56px;
  width: 56px;
}

.item-development-environment__title {
  color: #003DA6;
  -webkit-font-feature-settings: "ss01" on, "salt" on, "liga" off;
  font-feature-settings: "ss01" on, "salt" on, "liga" off;
  font-size: 28px;
  font-family: Cera;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 24px;
}

.item-development-environment__text {
  font-family: Cera;
  color: #444;
  font-size: 20px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.development-what {
  -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  position: relative;
}

.development-what__title {
  font-size: 56px;
  margin-bottom: 105px;
}

.development-what__button {
  margin-top: 80px;
}

.item-development-what__icon {
  margin-bottom: 24px;
}

.item-development-what__icon img {
  width: 56px;
  height: 56px;
}

.item-development-what__title {
  margin-bottom: 24px;
  color: #003DA6;
  font-family: Nekst;
  font-size: 28px;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.item-development-what__text {
  color: #444;
  font-family: Cera;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: 17px;
  margin-bottom: 24px;
}

.item-development-what__text:last-child {
  margin: 0;
}

.item-development-what__link {
  color: #003DA6;
  font-family: Cera;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-size: 17px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-development-what__link span {
  margin-right: 8px;
}

.item-development-what__link svg {
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
}

.development-package {
  padding-top: 160px;
  padding-bottom: 160px;
}

.development-package__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.development-package__item {
  margin-right: 150px;
}

.development-package__item:last-child {
  margin-right: 0;
}

.development-package__title {
  font-size: 56px;
  margin-bottom: 48px;
}

.development-package__column p {
  margin-bottom: 20px;
}

.development-package__column p:last-child {
  margin: 0;
}

.item-development-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.item-development-package__image {
  margin-bottom: 12px;
}

.item-development-package__image img {
  height: 380px;
  max-width: 200px;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.item-development-package__step {
  color: #003DA6;
}

.development-facts {
  padding-top: 160px;
  padding-bottom: 160px;
}

.development-facts_shadow {
  -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
}

.development-facts__title {
  font-size: 56px;
  margin-bottom: 64px;
}

.development-facts__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  -o-object-position: center;
  object-position: center;
}

.item-development-facts__icon img {
  width: 56px;
  height: 56px;
}

.item-development-facts__value {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 110%;
  color: #003DA6;
  font-family: Cera;
  letter-spacing: -0.025em;
}

.item-development-facts__value span {
  letter-spacing: 0;
  font-size: 66px;
}

.development-about {
  -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  padding-top: 160px;
  padding-bottom: 160px;
}

.development-about__title {
  font-size: 56px;
  margin-bottom: 40px;
}

.development-about__image {
  margin-bottom: 64px;
}

.task-development-about__value {
  font-size: 100px;
  color: #003DA6;
  font-family: Cera;
}

.task-development-about__label {
  max-width: 518px;
  color: #003DA6;
}

.development-items {
  padding-top: 160px;
  padding-bottom: 160px;
}

.development-items_shadow {
  -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
}

.development-items__title {
  font-size: 56px;
  margin-bottom: 80px;
}

.element-development-items__body {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #D0D0D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.element-development-items__image img {
  width: 100%;
  height: 280px;
}

.element-development-items__content {
  padding: 24px;
}

.development-description {
  padding-bottom: 160px;
  padding-top: 160px;
}

.development-description__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
}

.development-description__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 5px;
  height: 100%;
}

.development-description__title {
  font-size: 56px;
  margin-bottom: 40px;
}

.development-description__text {
  margin-bottom: 40px;
}

.development-description__text p {
  margin-bottom: 20px;
}

.development-description__text p:last-child {
  margin: 0;
}

.development-technology {
  -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
  padding-top: 160px;
  padding-bottom: 160px;
}

.development-technology__top {
  margin-bottom: 80px;
}

.development-technology__title {
  font-size: 56px;
}

.development-technology__text p {
  margin-bottom: 20px;
}

.development-technology__text p:last-child {
  margin: 0;
}

.development-technology__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.development-technology__image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.content-development-technology__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.content-development-technology__button {
  font-family: Cera;
  margin-right: 40px;
  font-size: 28px;
  color: #c1cde2;
}

.content-development-technology__button.active {
  color: #003DA6;
}

.content-development-technology__button:last-child {
  margin: 0;
}

.content-development-technology__slider {
  margin-bottom: 40px;
}

.content-development-technology__text {
  max-width: 556px;
  margin-bottom: 40px;
}

.slider-development-technology {
  position: relative;
}

.slider-development-technology__image {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 24px;
  opacity: 0;
  visibility: hidden;
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.slider-development-technology__image img {
  max-width: 100%;
  max-height: 200px;
  -o-object-position: center bottom;
  object-position: center bottom;
  -o-object-fit: contain;
  object-fit: contain;
}

.slider-development-technology__line {
  height: 1px;
  width: 100%;
  display: block;
  background: #D9D9D9;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-development-technology__number {
  margin-bottom: 10px;
  color: #cecece;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-development-technology__text {
  color: #cecece;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-right: 20px;
}

.slider-development-technology__item {
  cursor: pointer;
}

@media (min-width: 767.98px) {
  .development-environment__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-what__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -12px;
  }

  .development-what__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 12px;
  }

  .development-facts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -12px;
  }

  .development-facts__item {
    margin-bottom: 24px;
  }

  .development-facts__item {
    padding: 0 12px;
  }

  .development-facts__image {
    margin-bottom: 24px;
    padding: 0 12px;
  }

  .development-facts__image img {
    height: 320px;
  }

  .item-development-facts__body {
    min-height: 320px;
    min-height: 320px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item-development-facts__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 20px;
  }

  .development-about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -18px;
  }

  .development-about__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 18px;
  }

  .development-about__column:first-child {
    max-width: 442px;
  }

  .development-about__column:last-child {
    max-width: 510px;
  }

  .content-development-technology__slider .swiper-slide-duplicate {
    display: none !important;
  }

  .slider-development-technology__item.active .slider-development-technology__line {
    background: #003DA6;
  }

  .slider-development-technology__item.active .slider-development-technology__image {
    opacity: 1;
    visibility: visible;
  }

  .slider-development-technology__item.active .slider-development-technology__text,
  .slider-development-technology__item.active .slider-development-technology__number {
    color: #003DA6;
  }

  .slider-development-technology__item.prev .slider-development-technology__line {
    background: #003DA6;
  }

  .slider-development-technology__item.prev .slider-development-technology__image_big,
  .slider-development-technology__item.prev .slider-development-technology__image_prev {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 991.98px) {
  .development-main-block__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-main-block__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    max-width: 950px;
    padding-right: 85px;
  }

  .development-recycling__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .development-recycling__image {
    max-width: 500px;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 30px;
  }

  .development-recycling__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 670px;
    width: 100%;
    padding-right: 24px;
  }

  .development-environment__top {
    display: none;
  }

  .development-environment__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-environment__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 40px;
  }

  .development-environment__image img {
    max-width: 440px;
  }

  .development-environment__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .development-what {
    min-height: 920px;
  }

  .development-what__container {
    min-height: 920px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .development-what__image img {
    height: 920px;
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .item-development-what__text {
    max-width: 440px;
  }

  .development-package__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-package__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 150px;
  }

  .development-about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-about__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 557px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 140px;
  }

  .development-about__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .development-about__block {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 900px;
  }

  .development-about__row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .development-items__element {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 25% !important;
    flex: 0 1 25% !important;
    padding: 0 12px !important;
    margin: 0 0 24px 0 !important;
    height: auto !important;
  }

  .development-items__elements_big .development-items__element {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 33.333% !important;
    flex: 0 1 33.333% !important;
  }

  .development-items__elements .swiper-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100% !important;
    -webkit-transform: none !important;
    transform: none !important;
    margin: 0 -12px !important;
  }

  .element-development-items__image img {
    -o-object-fit: cover;
    object-fit: cover;
  }

  .development-description__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-description__image {
    max-width: 560px;
  }

  .development-description__image {
    min-width: 450px;
  }

  .development-description__image {
    margin-right: 40px;
  }

  .development-description__image img {
    min-height: 400px;
  }

  .development-description__text {
    max-width: 672px;
  }

  .development-technology__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-technology__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 70px;
  }

  .development-technology__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 672px;
  }

  .development-technology__body {
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .development-technology__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .development-technology__image img {
    width: 672px;
    height: 100%;
    min-height: 800px;
  }

  .slider-development-technology__image_big img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    max-width: none !important;
  }

  .slider-development-technology__item {
    width: auto !important;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 1 50% !important;
    flex: 0 1 50% !important;
  }

  .slider-development-technology__item {
    margin: 0 !important;
  }
}

@media (min-width: 1240.98px) {
  .development-environment__items {
    margin: 0 -50px;
  }

  .development-environment__item {
    padding: 0 50px;
  }
}

@media (min-width: 1300.98px) {
  .development-facts__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  .development-facts__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }
}

@media (min-width: 1340.98px) {
  .development-recycling__image {
    max-width: 673px;
  }
}

@media (min-width: 1630px) {
  .development-main-block__title {
    font-size: 75px;
  }

  .development-environment__image {
    margin-right: 140px;
  }

  .development-what__content {
    max-width: 1050px;
  }

  .item-development-facts__body {
    padding: 40px;
  }

  .development-description__image {
    margin-right: 140px;
  }

  .content-development-technology {
    padding: 40px 100px 40px 40px;
  }
}

@media (min-width: 1920.98px) {
  .development-what__content {
    max-width: 930px;
  }

  .development-what__image img {
    width: 740px;
  }
}

@media (max-width: 1870px) {
  .development-main-block {
    padding-bottom: calc(40px + 140 * (100vw - 320px) / 1550);
  }

  .development-main-block {
    padding-top: calc(47px + 83 * (100vw - 320px) / 1550);
  }

  .development-main-block__breadcrumbs {
    margin-bottom: calc(10px + 10 * (100vw - 320px) / 1550);
  }

  .development-main-block__content {
    margin-bottom: calc(49px + 31 * (100vw - 320px) / 1550);
  }

  .development-main-block__image img {
    min-height: calc(340px + 300 * (100vw - 320px) / 1550);
  }

  .development-recycling {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-recycling {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-recycling__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .development-recycling__title {
    margin-bottom: calc(24px + 16 * (100vw - 320px) / 1550);
  }

  .development-recycling__text {
    margin-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .development-recycling__text {
    font-size: calc(15px + 2 * (100vw - 320px) / 1550);
  }

  .development-environment__text {
    font-size: calc(13px + 4 * (100vw - 320px) / 1550);
  }

  .development-environment {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-environment__title {
    font-size: calc(22px + 34 * (100vw - 320px) / 1550);
  }

  .development-environment__title {
    margin-bottom: calc(43px + 7 * (100vw - 320px) / 1550);
  }

  .item-development-environment__icon {
    margin-bottom: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .item-development-environment__icon img {
    height: calc(40px + 16 * (100vw - 320px) / 1550);
  }

  .item-development-environment__icon img {
    width: calc(40px + 16 * (100vw - 320px) / 1550);
  }

  .item-development-environment__title {
    font-size: calc(22px + 6 * (100vw - 320px) / 1550);
  }

  .item-development-environment__title {
    margin-bottom: calc(22px + 2 * (100vw - 320px) / 1550);
  }

  .item-development-environment__text {
    font-size: calc(13px + 4 * (100vw - 320px) / 1550);
  }

  .development-what__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .development-what__title {
    margin-bottom: calc(30px + 75 * (100vw - 320px) / 1550);
  }

  .item-development-what__icon img {
    width: calc(40px + 16 * (100vw - 320px) / 1550);
  }

  .item-development-what__icon img {
    height: calc(40px + 16 * (100vw - 320px) / 1550);
  }

  .item-development-what__icon {
    margin-bottom: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .item-development-what__title {
    margin-bottom: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .item-development-what__title {
    font-size: calc(22px + 6 * (100vw - 320px) / 1550);
  }

  .item-development-what__text {
    font-size: calc(13px + 4 * (100vw - 320px) / 1550);
  }

  .item-development-what__text {
    margin-bottom: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .item-development-what__link {
    font-size: calc(15px + 2 * (100vw - 320px) / 1550);
  }

  .development-package {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-package {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-package__item {
    margin-right: calc(20px + 130 * (100vw - 320px) / 1550);
  }

  .development-package__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .development-package__title {
    margin-bottom: calc(40px + 8 * (100vw - 320px) / 1550);
  }

  .item-development-package__image img {
    height: calc(280px + 100 * (100vw - 320px) / 1550);
  }

  .development-facts {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-facts {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-facts__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .development-facts__title {
    margin-bottom: calc(40px + 24 * (100vw - 320px) / 1550);
  }

  .item-development-facts__icon img {
    width: calc(40px + 16 * (100vw - 320px) / 1550);
  }

  .item-development-facts__icon img {
    height: calc(40px + 16 * (100vw - 320px) / 1550);
  }

  .development-about {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-about {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-about__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .development-about__title {
    margin-bottom: calc(24px + 16 * (100vw - 320px) / 1550);
  }

  .development-about__image {
    margin-bottom: calc(40px + 24 * (100vw - 320px) / 1550);
  }

  .task-development-about__value {
    font-size: calc(80px + 20 * (100vw - 320px) / 1550);
  }

  .development-items {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-items {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-items__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .development-items__title {
    margin-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .element-development-items__image img {
    height: calc(200px + 80 * (100vw - 320px) / 1550);
  }

  .development-description {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-description {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-description__title {
    font-size: calc(22px + 34 * (100vw - 320px) / 1550);
  }

  .development-description__title {
    margin-bottom: calc(24px + 16 * (100vw - 320px) / 1550);
  }

  .development-description__text {
    margin-bottom: calc(20px + 20 * (100vw - 320px) / 1550);
  }

  .development-technology {
    padding-top: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-technology {
    padding-bottom: calc(40px + 120 * (100vw - 320px) / 1550);
  }

  .development-technology__top {
    margin-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .development-technology__title {
    font-size: calc(28px + 28 * (100vw - 320px) / 1550);
  }

  .content-development-technology__button {
    margin-right: calc(16px + 24 * (100vw - 320px) / 1550);
  }

  .content-development-technology__button {
    font-size: calc(19px + 9 * (100vw - 320px) / 1550);
  }
}

@media (max-width: 1660.98px) {
  .development-recycling__title {
    font-size: 45px;
  }
}

@media (max-width: 1630px) {
  .element-development-items__content {
    padding: 20px;
  }
}

@media (max-width: 1240.98px) {
  .development-package__column {
    margin-bottom: 20px;
  }

  .development-package__column:last-child {
    margin: 0;
  }
}

@media (max-width: 991.98px) {
  .development-main-block__title {
    margin-bottom: 24px;
  }

  .development-recycling__image {
    margin: 0 -15px;
  }

  .development-recycling__image {
    margin-bottom: 30px;
  }

  .development-recycling__image img {
    height: 340px;
  }

  .development-recycling__content {
    margin-bottom: 40px;
  }

  .development-recycling__title {
    font-size: 32px;
  }

  .development-recycling__title {
    font-size: 28px;
  }

  .development-environment__top {
    margin-bottom: 40px;
    font-size: 80px;
  }

  .development-environment__image {
    margin-bottom: 40px;
  }

  .development-environment__image img {
    width: 100%;
    height: 440px;
  }

  .development-environment__title {
    display: none;
  }

  .development-what {
    padding-bottom: 80px;
  }

  .development-what__title {
    margin-bottom: 40px;
  }

  .development-what__button {
    margin-top: 40px;
  }

  .development-what__image {
    margin-bottom: 40px;
  }

  .development-what__image img {
    width: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    height: 920px;
  }

  .development-package__items {
    margin-bottom: 40px;
  }

  .development-about__content {
    margin-bottom: 40px;
  }

  .development-about__text {
    margin-bottom: 40px;
  }

  .development-about__image {
    margin-bottom: 40px;
  }

  .development-items__title {
    margin-bottom: 40px;
  }

  .development-items__elements {
    margin: 0 -15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .element-development-items__image img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .development-description__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .development-description__image img {
    height: 400px;
  }

  .development-technology__top {
    margin-bottom: 40px;
  }

  .development-technology__title {
    margin-bottom: 40px;
  }

  .development-technology__content {
    margin-bottom: 40px;
  }

  .development-technology__image img {
    height: 800px;
  }

  .development-technology__image img {
    width: 100%;
  }
}

@media (max-width: 991.98px) and (max-width: 1870px) {
  .development-recycling__image img {
    height: calc(300px + 40 * (100vw - 320px) / 1550);
  }

  .development-environment__top {
    font-size: calc(32px + 48 * (100vw - 320px) / 1550);
  }

  .development-environment__image img {
    height: calc(240px + 200 * (100vw - 320px) / 1550);
  }

  .development-what {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .development-what__image img {
    height: calc(320px + 600 * (100vw - 320px) / 1550);
  }

  .development-description__image img {
    height: calc(240px + 160 * (100vw - 320px) / 1550);
  }

  .development-technology__image img {
    height: calc(320px + 480 * (100vw - 320px) / 1550);
  }
}

@media (max-width: 767.98px) {
  .development-environment__item {
    margin-bottom: 40px;
  }

  .development-environment__item:last-child {
    margin-bottom: 0;
  }

  .development-what__item {
    margin-bottom: 40px;
  }

  .development-what__item:last-child {
    margin: 0;
  }

  .development-facts__item {
    margin-bottom: 40px;
  }

  .development-facts__item:last-child {
    margin: 0;
  }

  .development-facts__item_reverse .item-development-facts__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .development-facts__image {
    margin-bottom: 40px;
  }

  .development-facts__image img {
    height: 240px;
  }

  .item-development-facts__content {
    color: #003DA6;
  }

  .item-development-facts__icon {
    margin-bottom: 16px;
  }

  .item-development-facts__text {
    color: #003DA6;
  }

  .development-about__column {
    margin-bottom: 24px;
  }

  .development-about__column:last-child {
    margin: 0;
  }

  .development-description__title {
    font-size: 22px;
  }

  .slider-development-technology {
    padding: 0 15px;
    margin: 0 -15px 40px;
  }

  .slider-development-technology__item.swiper-slide-active .slider-development-technology__line {
    background: #003DA6;
  }

  .slider-development-technology__item.swiper-slide-active .slider-development-technology__image {
    opacity: 1;
    visibility: visible;
  }

  .slider-development-technology__item.swiper-slide-active .slider-development-technology__text,
  .slider-development-technology__item.swiper-slide-active .slider-development-technology__number {
    color: #003DA6;
  }
}

@media (max-width: 370.98px) {
  .content-development-technology__button {
    font-size: 16px;
  }
}

@media (min-width: 767.98px) and (max-width: 1440.98px) {
  .development-main-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .development-environment {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .development-items {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .development-description {
    padding-bottom: 40px;
  }
}

@media (min-width: 991.98px) and (max-width: 1870px) {
  .development-main-block__title {
    padding-right: calc(1px + 84 * (100vw - 320px) / 1550);
  }

  .development-environment__image img {
    max-width: calc(220px + 220 * (100vw - 320px) / 1550);
  }

  .development-package__content {
    padding-left: calc(1px + 149 * (100vw - 320px) / 1550);
  }

  .development-about__content {
    margin-right: calc(1px + 139 * (100vw - 320px) / 1550);
  }

  .development-technology__title {
    padding-right: calc(1px + 69 * (100vw - 320px) / 1550);
  }

  .development-technology__text {
    width: calc(1px + 671 * (100vw - 320px) / 1550);
  }

  .development-technology__image img {
    width: calc(1px + 671 * (100vw - 320px) / 1550);
  }

  .development-technology__image img {
    min-height: calc(320px + 480 * (100vw - 320px) / 1550);
  }
}

@media (min-width: 1630px) and (max-width: 1870px) {
  .development-environment__image {
    margin-right: calc(1px + 139 * (100vw - 320px) / 1550);
  }

  .development-what__content {
    max-width: calc(100px + 950 * (100vw - 320px) / 1550);
  }
}

@media (min-width: 767.98px) and (max-width: 1240.98px) {
  .development-environment__items {
    margin: 0 -20px;
  }

  .development-environment__item {
    padding: 0 20px;
  }
}

@media (min-width: 991.98px) and (max-width: 1920.98px) {
  .development-what__content {
    max-width: 730px;
    max-width: 930px;
  }

  .development-what__image img {
    width: 740px;
  }
}

@media (min-width: 991.98px) and (max-width: 1920.98px) and (max-width: 1870px) {
  .development-what__content {
    max-width: calc(200px + 730 * (100vw - 320px) / 1550);
  }

  .development-what__image img {
    width: calc(200px + 540 * (100vw - 320px) / 1550);
  }
}

@media (min-width: 1920.98px) and (max-width: 1870px) {
  .development-what__image img {
    width: calc(300px + 440 * (100vw - 320px) / 1550);
  }
}

@media (min-width: 991.98px) and (max-width: 1630px) {
  .development-package__item {
    margin-right: 50px;
  }

  .content-development-technology {
    padding: 20px;
  }
}

@media (min-width: 991.98px) and (max-width: 1240.98px) {
  .development-package__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -22px;
  }

  .development-package__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 22px;
  }

  .development-about__content {
    max-width: 400px;
  }
}

@media (min-width: 767.98px) and (max-width: 1300.98px) {
  .development-facts__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .development-facts__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

@media (min-width: 767.98px) and (max-width: 1870px) {
  .development-facts__image img {
    height: calc(240px + 80 * (100vw - 320px) / 1550);
  }

  .item-development-facts__body {
    min-height: calc(240px + 80 * (100vw - 320px) / 1550);
  }
}

@media (min-width: 767.98px) and (max-width: 1630px) {
  .item-development-facts__body {
    padding: 20px;
  }
}

@media (min-width: 991.98px) and (max-width: 1200.98px) {
  .development-description__title {
    font-size: 30px;
  }
}