.vacancy-single {
  padding-bottom: 0 !important;
}

.base-vacancy-block {
  padding-top: 80px;
  padding-bottom: 80px;
}

.vacancy-leader {
  background: #fff;
}

.vacancy-leader__title {
  font-size: 44px;
  line-height: 110%;
  max-width: 969px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.vacancy-leader__image {
  padding-bottom: 80%;
  position: relative;
  margin-bottom: 20px;
}

.vacancy-leader__image img {
  border-radius: 40px;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vacancy-leader__label {
  font-family: "Cera";
  text-align: center;
  color: #003DA6;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
}

.vacancy-leader__text {
  max-width: 1064px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  line-height: 120%;
  font-size: 20px;
}

.vacancy-standard {
  background: #fff;
}

.vacancy-standard__body {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 804px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.vacancy-standard__text {
  font-size: 32px;
  text-align: center;
  max-width: 1206px;
  margin: 0 auto;
  font-family: Nekst;
  line-height: 110%;
  font-weight: 500;
  color: #0032B1;
}

.vacancy-join-us__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.vacancy-join-us__button {
  cursor: pointer;
}

.vacancy-join-us__button svg {
  width: 33px;
  height: 15px;
  color: #0032B1;
}

.vacancy-join-us__button_prev {
  margin-right: 27px;
}

.vacancy-join-us__button_prev svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.vacancy-join-us__buttons {
  margin-bottom: 30px;
}

.vacancy-join-us__slider {
  overflow: hidden;
}

.slide-vacancy-join-us__title {
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: Nekst;
  color: #0032B1;
}

.slide-vacancy-join-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-vacancy-join-us__text {
  max-width: 565px;
  margin-bottom: 30px;
}

.slide-vacancy-join-us__text:last-child {
  margin-bottom: 0;
}

.slide-vacancy-join-us__text p {
  line-height: 140%;
  margin-bottom: 15px;
  font-size: 20px;
}

.slide-vacancy-join-us__text p:last-child {
  margin-bottom: 0;
}

.slide-vacancy-join-us__image {
  position: relative;
}

.slide-vacancy-join-us__image img {
  border-radius: 40px;
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.slide-vacancy-join-us__button {
  font-weight: 700;
  color: #fff;
  font-family: "Cera";
  font-size: 24px;
}

.vacancy-about {
  padding-top: 80px;
  padding-bottom: 52px;
}

.vacancy-about__title {
  text-align: center;
  font-family: Nekst;
  font-size: 44px;
  line-height: 110%;
  color: #0032B1;
  margin-bottom: 40px;
}

.vacancy-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -4px;
}

.vacancy-about__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 4px;
}

.item-vacancy-about__image {
  padding-bottom: 55%;
  position: relative;
  margin-bottom: 16px;
}

.item-vacancy-about__image img {
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.item-vacancy-about__text {
  text-align: center;
  line-height: 120%;
  max-width: 683px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.vacancy-advantages {
  padding-bottom: 80px;
}

.vacancy-advantages__item {
  margin-bottom: 15px;
}

.vacancy-advantages__item:last-child {
  margin-bottom: 0;
}

.item-vacancy-advantages__body {
  height: 100%;
  padding: 40px 30px;
  border-radius: 40px;
  background: #fff;
  border: 1px solid #D9D9D9;
}

.item-vacancy-advantages__title {
  font-family: Nekst;
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: 400;
  color: #0032B1;
  line-height: 110%;
}

.item-vacancy-advantages__text {
  line-height: 140%;
  font-size: 16px;
}

.vacancy-steps {
  background: #fff;
}

.vacancy-steps_t {
  padding-top: 0 !important;
}

.vacancy-steps_b {
  padding-bottom: 20px !important;
}

.vacancy-steps__text {
  font-size: 20px;
  max-width: 919px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 36px;
}

.vacancy-steps__text_b {
  margin-bottom: 50px;
}

.vacancy-steps__text p {
  margin-bottom: 15px;
}

.vacancy-steps__text p:last-child {
  margin-bottom: 0;
}

.vacancy-steps__title {
  text-align: center;
  max-width: 1072px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 44px;
}

.vacancy-steps__slider {
  overflow: hidden;
  margin-bottom: 72px;
}

.vacancy-steps_intro {
  background: #F1F1F1;
}

.vacancy-steps_intro .vacancy-steps__title {
  margin-bottom: 50px;
}

.slide-vacancy-steps {
  padding: 30px 25px;
  border: 1px solid #D9D9D9;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-vacancy-steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-vacancy-steps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.slide-vacancy-steps__item span {
  font-size: 24px;
  font-family: Nekst;
  font-weight: 500;
  color: #0032B1;
}

.slide-vacancy-steps__number {
  font-size: 106px;
  font-family: Nekst;
  font-weight: 500;
  line-height: 110%;
  color: #0032B1;
}

.slide-vacancy-steps__title {
  font-size: 36px;
  font-family: Nekst;
  color: #0032B1;
  margin-bottom: 16px;
}

.slide-vacancy-steps__text {
  max-width: 787px;
  line-height: 140%;
}

.slide-vacancy-steps__text:last-child {
  margin-bottom: 0;
}

.slide-vacancy-steps__text p {
  margin-bottom: 6px;
}

.slide-vacancy-steps__text p:last-child {
  margin-bottom: 0;
}

.slide-vacancy-steps__text strong {
  color: #0032B1;
}

.slide-vacancy-steps__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.slide-vacancy-steps__button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slide-vacancy-steps__button svg {
  width: 33px;
  height: 15px;
  color: #0032B1;
}

.slide-vacancy-steps__button_prev {
  margin-right: 27px;
}

.slide-vacancy-steps__button_prev svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.slide-vacancy-steps__image {
  height: 259px;
  margin-top: 57px;
}

.slide-vacancy-steps__image img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  border-radius: 20px;
}

.join-us-vacancy-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.join-us-vacancy-steps__title {
  font-size: 44px;
  color: #0032B1;
  margin-bottom: 40px;
  font-weight: 400;
  font-family: Nekst;
  text-align: center;
}

.join-us-vacancy-steps__button {
  font-family: Cera;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  min-width: 292px;
}

.vacancy-what {
  background: #fff;
  padding-bottom: 112px;
}

.vacancy-what__title {
  font-size: 44px;
  margin-bottom: 60px;
  text-align: center;
}

.vacancy-what__items {
  max-width: 903px;
  margin: 0 auto 45px;
}

.vacancy-what__items:last-child {
  margin-bottom: 0;
}

.vacancy-what__arrow svg {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #0032B1;
  width: 20px;
  height: 20px;
}

.vacancy-what__gallery {
  margin-bottom: 80px;
}

.vacancy-what__button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 12px 16px 0;
}

.vacancy-what__button span {
  font-family: Nekst;
  font-size: 24px;
  line-height: 120%;
  font-weight: 500;
  color: #0032B1;
  margin-right: 20px;
}

.vacancy-what__button.active svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.vacancy-what__item {
  border-bottom: 1px solid #D9D9D9;
}

.vacancy-what__content {
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vacancy-what__image {
  width: 151px;
}

.vacancy-what__image img {
  width: 100%;
  height: 95px;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.vacancy-what__image_rounded img {
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.vacancy-what__text {
  max-width: 716px;
}

.vacancy-what__text p {
  margin-bottom: 25px;
}

.vacancy-what__text p:last-child {
  margin-bottom: 0;
}

.vacancy-what__text small {
  font-size: 12px;
  line-height: 140%;
  display: inline-block;
  opacity: 0.5;
}

.vacancy-what__text small a {
  word-break: break-all;
  line-height: 1;
  color: #444;
  opacity: 0.5;
  text-decoration: underline;
}

.vacancy-what__item:first-child .vacancy-what__text {
  max-width: 720px;
}

.vacancy-gallery__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 27px;
}

.vacancy-gallery__button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vacancy-gallery__button svg {
  width: 33px;
  height: 15px;
  color: #0032B1;
}

.vacancy-gallery__button_prev {
  margin-right: 27px;
}

.vacancy-gallery__button_prev svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.vacancy-gallery__button.swiper-button-disabled {
  opacity: 0.5;
}

.vacancy-gallery__image {
  position: relative;
  padding-bottom: 58%;
}

.vacancy-gallery__image img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 40px;
}

.vacancy-intro {
  position: relative;
}

.vacancy-intro__button {
  position: absolute;
  bottom: 80px;
  right: 0;
}

.vacancy-intro__button svg {
  color: #fff;
  height: 17px;
  width: 35px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.vacancy-intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(248.66deg, rgba(17, 49, 170, 0.3) 0%, #1131AA 100%);
  z-index: 3;
}

.vacancy-intro__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vacancy-intro__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.vacancy-intro__container {
  min-height: 400px;
  height: 100vh;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.vacancy-intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 80px;
}

.vacancy-intro__label {
  margin-top: 25px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 50px;
  max-width: 1106px;
  font-size: 46px;
  font-family: Nekst;
  line-height: 120%;
  color: #fff;
}

.vacancy-intro__action {
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.vacancy-intro__action svg {
  color: #fff;
  height: 25px;
  width: 40px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.vacancy-intro-block {
  background: #fff;
}

.vacancy-intro-block__text {
  max-width: 1168px;
  margin: 0 auto;
  font-family: Nekst;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  color: #0032B1;
  font-size: 30px;
}

.vacancy-intro-block__text p {
  margin-bottom: 10px;
}

.base-vacancy-container {
  max-width: 1180px !important;
}

.vacancy-single_offset {
  padding-top: 80px !important;
  padding-bottom: 110px !important;
}

.vacancy-save {
  position: relative;
  overflow: hidden;
}

.vacancy-save__container::after {
  content: "";
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#1131AA), to(rgba(17, 49, 170, 0)));
  background: linear-gradient(180deg, #1131AA 0%, rgba(17, 49, 170, 0) 100%);
  position: absolute;
  top: -138px;
  right: 0;
  width: 1596px;
  height: 2372px;
}

.vacancy-save__title {
  font-size: 44px;
  margin-bottom: 36px;
  color: #fff;
}

.vacancy-save__image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.vacancy-save__content {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 3;
}

.vacancy-save__text {
  color: #fff;
  font-size: 20px;
}

.vacancy-inspiration {
  background: #fff;
}

.vacancy-inspiration__action {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 53px;
  font-family: "Cera";
  font-size: 24px;
  min-height: 68px;
  border-radius: 999px;
  background: #fff;
  color: #0032B1;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vacancy-inspiration__action.hidden {
  opacity: 0;
  visibility: hidden;
}

.vacancy-inspiration__title {
  text-align: center;
  font-size: 44px;
  margin-bottom: 36px;
}

.vacancy-inspiration__text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
  max-width: 930px;
  margin-right: auto;
  margin-left: auto;
}

.vacancy-inspiration__video {
  position: relative;
  max-width: 1157px;
}

.vacancy-inspiration__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vacancy-inspiration__video.active::before {
  opacity: 0;
  visibility: hidden;
}

.vacancy-inspiration__video video {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.vacancy-contacts {
  padding-top: 65px;
  padding-bottom: 45px;
}

.vacancy-contacts__title {
  font-size: 44px;
  margin-bottom: 38px;
  text-align: center;
}

.vacancy-contacts__items {
  padding-bottom: 80px;
}

.vacancy-contacts__item_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item-vacancy-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-vacancy-contacts__logo img {
  max-width: 152px;
}

.item-vacancy-contacts__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 8px;
}

.item-vacancy-contacts__icon svg {
  fill: #0032B1;
  width: 24px;
  height: 24px;
}

.item-vacancy-contacts__icon.stroke {
  color: #0032B1;
}

.item-vacancy-contacts__title {
  font-size: 20px;
  margin-bottom: 14px;
  line-height: 110%;
  font-family: Nekst;
  color: #0032B1;
}

.item-vacancy-contacts__phone {
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 10px;
  font-family: Nekst;
  color: #444444;
}

.item-vacancy-contacts__phone:last-child {
  margin-bottom: 0;
}

.item-vacancy-contacts__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item-vacancy-contacts__location p {
  font-family: Nekst;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 130%;
}

.item-vacancy-contacts__location p:last-child {
  margin-bottom: 0;
}

.vacancy-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 177px;
  z-index: 999;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vacancy-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.vacancy-header__logo {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.vacancy-header__logo img {
  width: 316px;
  height: auto;
}

.vacancy-header__logo img:last-child {
  display: none;
}

.vacancy-header__action {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Nekst", "sans-serif";
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
}

.vacancy-header.fix {
  height: 70px;
  background: #F1F1F1;
}

.vacancy-header.fix .vacancy-header__action {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 0;
  color: #0032B1;
}

.vacancy-header.fix .vacancy-header__logo img {
  width: 152px !important;
  height: auto;
}

.vacancy-header.fix .vacancy-header__logo img:first-child {
  display: none;
}

.vacancy-header.fix .vacancy-header__logo img:last-child {
  display: block;
}

.note-vacancy {
  padding-top: 80px;
}

.note-vacancy__container {
  max-width: 1195px !important;
}

.note-vacancy__text {
  font-family: "Cera";
  color: #909090;
  font-size: 12px;
  line-height: 140%;
}

.note-vacancy__text a {
  color: #909090;
  text-decoration: underline;
}

.note-vacancy__text p {
  margin-bottom: 18px;
}

.note-vacancy__text p:last-child {
  margin-bottom: 0;
}

.vacancy-intro__label {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.vacancy-intro__label.fade-out {
  opacity: 0;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.vacancy-intro__label.fade-in {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.vacancy__title {
  font-size: 44px;
  line-height: 110%;
  max-width: 969px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;
}

.vacancy__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.vacancy__button {
  min-width: 292px;
  font-family: Cera;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
}

.bottom-vacancy-contacts {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-vacancy-contacts__copyright {
  color: #0032B1;
  font-family: "Cera";
  font-size: 18px;
  line-height: 110%;
}

.bottom-vacancy-contacts__link {
  color: #0032B1;
  font-family: "Cera";
  font-size: 18px;
  line-height: 110%;
}

@media (min-width: 576.98px) {
  .vacancy-what__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 151px;
    flex: 0 0 151px;
  }

  .vacancy-what__text {
    margin-right: 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .vacancy-contacts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .vacancy-contacts__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 10px;
  }
}

@media (min-width: 767.98px) {
  .vacancy-leader__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -12px 40px;
  }

  .vacancy-leader__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0 12px;
  }

  .vacancy-standard__body {
    background: url("../../images/vacancy-new/standard/background.svg") center center/contain no-repeat;
  }

  .slide-vacancy-join-us__body {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .slide-vacancy-join-us__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 465px;
    flex: 0 0 465px;
    height: 465px;
  }

  .vacancy-about__items {
    margin: 0 -12px;
  }

  .vacancy-about__item {
    padding: 0 12px;
  }

  .slide-vacancy-steps__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-right: 35px;
    position: relative;
  }

  .slide-vacancy-steps__item {
    min-width: 70px;
  }

  .slide-vacancy-steps__buttons {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    right: 0;
    top: 0;
  }

  .slide-vacancy-steps__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
  }

  .vacancy-intro__body {
    max-width: 1224px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .vacancy-save__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 513px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .vacancy-save__title {
    max-width: 496px;
  }

  .vacancy-save__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 4;
  }

  .vacancy-save__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding-left: 50px;
  }

  .vacancy-save__text {
    max-width: 565px;
  }
}

@media (min-width: 991.98px) {
  .vacancy-standard__image {
    position: absolute;
  }

  .vacancy-standard__image img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 20px;
  }

  .vacancy-standard__image_first {
    left: 183px;
    top: 62px;
  }

  .vacancy-standard__image_first img {
    width: 264px;
    height: 143px;
  }

  .vacancy-standard__image_second {
    top: 104px;
    right: 254px;
  }

  .vacancy-standard__image_second img {
    width: 229px;
    height: 152px;
  }

  .vacancy-standard__image_third {
    left: 0;
    bottom: 55px;
  }

  .vacancy-standard__image_third img {
    width: 363px;
    height: 197px;
  }

  .vacancy-standard__image_fourth {
    left: 55%;
    bottom: 137px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .vacancy-standard__image_fourth img {
    width: 187px;
    height: 135px;
  }

  .vacancy-standard__image_fifth {
    right: 0;
    bottom: 45px;
  }

  .vacancy-standard__image_fifth img {
    width: 264px;
    height: 159px;
  }

  .item-vacancy-advantages__text {
    font-size: 20px;
  }

  .slide-vacancy-steps__item {
    min-width: 95px;
  }

  .slide-vacancy-steps__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 419px;
    flex: 0 0 419px;
  }

  .slide-vacancy-steps__image img {
    border-radius: 40px;
  }

  .vacancy-what__content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .vacancy-what__text {
    font-size: 16px !important;
  }

  .vacancy-inspiration__container {
    padding-bottom: 160px !important;
  }

  .vacancy-inspiration__video video {
    min-height: 500px;
    height: calc(100vh - 80px);
    max-height: 650px;
  }

  .vacancy-contacts__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  .bottom-vacancy-contacts {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 1630px) {
  .slide-vacancy-steps__text {
    font-size: 16px;
  }

  .vacancy-gallery__image {
    padding-bottom: 73%;
  }
}

@media (max-width: 1870px) {
  .base-vacancy-block {
    padding-top: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .base-vacancy-block {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .vacancy-leader__title {
    font-size: calc(20px + 24 * (100vw - 320px) / 1550);
  }

  .vacancy-leader__label {
    font-size: calc(18px + 6 * (100vw - 320px) / 1550);
  }

  .vacancy-leader__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .vacancy-standard__body {
    padding-top: calc(40px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-standard__body {
    padding-bottom: calc(40px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-standard__text {
    font-size: calc(20px + 12 * (100vw - 320px) / 1550);
  }

  .slide-vacancy-join-us__title {
    font-size: calc(24px + 12 * (100vw - 320px) / 1550);
  }

  .slide-vacancy-join-us__text p {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .slide-vacancy-join-us__button {
    font-size: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .vacancy-about {
    padding-top: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .vacancy-about {
    padding-bottom: calc(40px + 12 * (100vw - 320px) / 1550);
  }

  .vacancy-about__title {
    font-size: calc(24px + 20 * (100vw - 320px) / 1550);
  }

  .item-vacancy-about__text {
    font-size: calc(14px + 6 * (100vw - 320px) / 1550);
  }

  .vacancy-advantages {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .item-vacancy-advantages__title {
    font-size: calc(24px + 12 * (100vw - 320px) / 1550);
  }

  .vacancy-steps__text {
    font-size: calc(18px + 2 * (100vw - 320px) / 1550);
  }

  .vacancy-steps__text {
    margin-bottom: calc(20px + 16 * (100vw - 320px) / 1550);
  }

  .vacancy-steps__text_b {
    margin-bottom: calc(40px + 10 * (100vw - 320px) / 1550);
  }

  .vacancy-steps__title {
    font-size: calc(24px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-steps__slider {
    margin-bottom: calc(40px + 32 * (100vw - 320px) / 1550);
  }

  .vacancy-steps_intro .vacancy-steps__title {
    margin-bottom: calc(40px + 10 * (100vw - 320px) / 1550);
  }

  .slide-vacancy-steps__item span {
    font-size: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .slide-vacancy-steps__number {
    font-size: calc(32px + 74 * (100vw - 320px) / 1550);
  }

  .slide-vacancy-steps__title {
    font-size: calc(20px + 16 * (100vw - 320px) / 1550);
  }

  .join-us-vacancy-steps__title {
    font-size: calc(24px + 20 * (100vw - 320px) / 1550);
  }

  .join-us-vacancy-steps__button {
    font-size: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .vacancy-what {
    padding-bottom: calc(40px + 72 * (100vw - 320px) / 1550);
  }

  .vacancy-what__title {
    font-size: calc(24px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-what__title {
    margin-bottom: calc(40px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-what__gallery {
    margin-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .vacancy-what__button span {
    font-size: calc(20px + 4 * (100vw - 320px) / 1550);
  }

  .vacancy-intro__label {
    font-size: calc(24px + 22 * (100vw - 320px) / 1550);
  }

  .vacancy-intro-block__text {
    font-size: calc(20px + 10 * (100vw - 320px) / 1550);
  }

  .vacancy-save__title {
    font-size: calc(22px + 22 * (100vw - 320px) / 1550);
  }

  .vacancy-save__title {
    margin-bottom: calc(20px + 16 * (100vw - 320px) / 1550);
  }

  .vacancy-save__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .vacancy-inspiration__title {
    font-size: calc(24px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-inspiration__title {
    margin-bottom: calc(20px + 16 * (100vw - 320px) / 1550);
  }

  .vacancy-inspiration__text {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .vacancy-inspiration__text {
    margin-bottom: calc(30px + 30 * (100vw - 320px) / 1550);
  }

  .vacancy-contacts {
    padding-top: calc(40px + 25 * (100vw - 320px) / 1550);
  }

  .vacancy-contacts {
    padding-bottom: calc(30px + 15 * (100vw - 320px) / 1550);
  }

  .vacancy-contacts__title {
    font-size: calc(24px + 20 * (100vw - 320px) / 1550);
  }

  .vacancy-contacts__title {
    margin-bottom: calc(30px + 8 * (100vw - 320px) / 1550);
  }

  .vacancy-contacts__items {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .item-vacancy-contacts__title {
    font-size: calc(16px + 4 * (100vw - 320px) / 1550);
  }

  .item-vacancy-contacts__title {
    margin-bottom: calc(8px + 6 * (100vw - 320px) / 1550);
  }

  .item-vacancy-contacts__phone {
    font-size: calc(16px + 2 * (100vw - 320px) / 1550);
  }

  .item-vacancy-contacts__location p {
    font-size: calc(16px + 2 * (100vw - 320px) / 1550);
  }

  .note-vacancy {
    padding-top: calc(40px + 40 * (100vw - 320px) / 1550);
  }

  .vacancy__title {
    font-size: calc(20px + 24 * (100vw - 320px) / 1550);
  }

  .vacancy__button {
    font-size: calc(16px + 8 * (100vw - 320px) / 1550);
  }

  .bottom-vacancy-contacts {
    padding-top: calc(20px + 20 * (100vw - 320px) / 1550);
  }
}

@media (max-width: 1200.98px) {
  .bottom-vacancy-contacts__copyright {
    font-size: 16px;
  }

  .bottom-vacancy-contacts__link {
    font-size: 16px;
  }
}

@media (max-width: 991.98px) {
  .vacancy-leader__image img {
    border-radius: 20px;
  }

  .vacancy-standard__body {
    min-height: 400px;
  }

  .vacancy-standard__image {
    display: none;
  }

  .vacancy-about__title {
    margin-bottom: 20px;
  }

  .item-vacancy-about__image img {
    border-radius: 20px;
  }

  .item-vacancy-about__text br {
    display: none;
  }

  .slide-vacancy-steps {
    padding: 15px;
    border-radius: 20px;
  }

  .slide-vacancy-steps__item {
    margin-right: 15px;
  }

  .join-us-vacancy-steps__title {
    margin-bottom: 20px;
  }

  .vacancy-what__text p {
    margin-bottom: 15px;
  }

  .vacancy-what__text p:last-child {
    margin-bottom: 0;
  }

  .vacancy-gallery__image img {
    border-radius: 20px;
  }

  .vacancy-single_offset {
    padding-bottom: 60px !important;
    padding-top: 60px !important;
  }

  .vacancy-inspiration {
    padding-bottom: 80px;
  }

  .vacancy-inspiration__action {
    font-size: 18px;
    padding: 0 36px;
    min-height: 50px;
  }

  .vacancy-inspiration__video {
    margin: 0 -15px;
  }

  .vacancy-contacts {
    padding-bottom: 20px;
  }

  .vacancy-contacts__item {
    margin-bottom: 20px;
  }

  .vacancy-contacts__item_main {
    margin-bottom: 35px;
  }

  .vacancy-header {
    height: 130px;
  }

  .vacancy-header__logo img {
    width: 210px;
  }

  .vacancy-header__action {
    font-size: 16px;
  }

  .vacancy-header.fix .vacancy-header__logo img {
    width: 126px !important;
  }

  .vacancy__bottom {
    margin-top: 25px;
  }

  .bottom-vacancy-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .bottom-vacancy-contacts__copyright {
    margin-bottom: 16px;
  }

  .bottom-vacancy-contacts__link {
    margin-bottom: 16px;
  }

  .bottom-vacancy-contacts__link:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) and (max-width: 1870px) {
  .vacancy-inspiration {
    padding-bottom: calc(40px + 40 * (100vw - 320px) / 1550);
  }
}

@media (max-width: 768.98px) {
  .br-desktop {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .vacancy-leader__title {
    margin-bottom: 25px;
  }

  .vacancy-leader__items {
    margin-bottom: 30px;
  }

  .vacancy-leader__item {
    margin-bottom: 25px;
  }

  .vacancy-leader__item:last-child {
    margin-bottom: 0;
  }

  .vacancy-leader__image {
    margin-bottom: 10px;
  }

  .vacancy-standard {
    background: url("../../images/vacancy-new/standard/background.svg") center center/cover no-repeat #fff;
  }

  .slide-vacancy-join-us__title {
    margin-bottom: 20px;
  }

  .slide-vacancy-join-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .slide-vacancy-join-us__text {
    margin-bottom: 20px;
  }

  .slide-vacancy-join-us__image {
    padding-bottom: 100%;
    width: 100%;
    margin-bottom: 20px;
  }

  .item-vacancy-about__image img {
    border-radius: 12px;
  }

  .item-vacancy-advantages__body {
    padding: 20px;
    border-radius: 20px;
  }

  .vacancy-steps__container {
    padding-bottom: 5px !important;
  }

  .slide-vacancy-steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .slide-vacancy-steps__buttons {
    top: 15px;
    left: 15px;
  }

  .slide-vacancy-steps__image {
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .vacancy-what__arrow svg {
    width: 15px;
    height: 15px;
  }

  .vacancy-save__container::after {
    top: 100px;
  }

  .vacancy-save__image {
    margin: 0 -15px;
    position: relative;
    z-index: 5;
  }

  .item-vacancy-contacts__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
  }

  .item-vacancy-contacts__icon svg {
    width: 20px;
    height: 20px;
  }

  .vacancy__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 576.98px) {
  .slide-vacancy-join-us__button {
    width: 100%;
  }

  .vacancy-what__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .vacancy-what__image {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 567.98px) {
  .item-vacancy-about__image {
    margin-bottom: 8px;
  }

  .vacancy-contacts__title {
    margin-bottom: 17px;
  }
}

@media (max-width: 467.98px) {
  .vacancy-header__logo img {
    width: 130px;
  }

  .vacancy-header__action {
    font-size: 14px;
  }
}

@media (min-width: 576.98px) and (max-width: 767.98px) {
  .vacancy-leader__image {
    padding-bottom: 70%;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .slide-vacancy-steps__image {
    height: 160px;
  }

  .vacancy-save__image img {
    -o-object-position: 62% center;
    object-position: 62% center;
  }
}

@media (any-hover: hover) {
  .vacancy-what__text small a:hover {
    text-decoration: none;
  }

  .vacancy-inspiration__action:hover {
    background: #0032B1;
    color: #fff;
  }

  .note-vacancy__text a:hover {
    text-decoration: none;
  }

  .bottom-vacancy-contacts__link:hover {
    text-decoration: underline;
  }
}